﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int currentPageSize = (ViewBag.currentPageSize == null) ? 0 : ViewBag.currentpageSize;
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;


    if (currentPageSize <= 0)
    {
        ViewBag.currentPageSize = 20;
    }
    if (string.IsNullOrEmpty(currentSort))
    {
        ViewBag.CurrentSort = "";
    }
    if (string.IsNullOrEmpty(currentFilter))
    {
        ViewBag.CurrentFilter = "";
    }
}

@*@model PTM.Models.WorkerModels.WorkersModel*@

@model PagedList.IPagedList<PTM.Models.WorkerModels.WorkersModel>

    <h2>Workers</h2>

    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


    <div class="wrapper">
        <div class="row">
            <div class="col-lg-11">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="hidden" name="pageSize" value="@ViewBag.CurrentPageSize" />
                        <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort" />
                        <input type="text" name="q" value="@ViewBag.CurrentFilter" class="search-text form-control" placeholder="Search..." />
                    </div>
                    <button type="submit" class="btn btn-info">Search</button>
                </form>
            </div>
            <div class="col-lg-1">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" value="@ViewBag.currentPageSize"  type="button" data-toggle="dropdown">
                        @ViewBag.currentPageSize
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("5", "Index", "Worker", new { sortOrder = ViewBag.currentSort, q=ViewBag.currentFilter, pageSize=5 }, null)</li>
                        <li>@Html.ActionLink("10", "Index", "Worker", new { sortOrder = ViewBag.currentSort, q = ViewBag.currentFilter, pageSize = 10 }, null)</li>
                        <li>@Html.ActionLink("20", "Index", "Worker", new { sortOrder = ViewBag.currentSort, q = ViewBag.currentFilter, pageSize = 20 }, null)</li>
                        <li>@Html.ActionLink("50", "Index", "Worker", new { sortOrder = ViewBag.currentSort, q = ViewBag.currentFilter, pageSize = 50 }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <th class="col-lg-1">
                        @Html.ActionLink("Id", "Index", "Worker", new { sortOrder = (ViewBag.currentSort == "n") ? "n_desc" : "n", pageSize=ViewBag.currentPAgeSize }, null)
                        @if (ViewBag.currentSort == "n")
                        {
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        }
                        @if (ViewBag.currentSort == "n_desc")
                        {
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        }
                    </th>
                    <th class="col-lg-4">
                        @Html.ActionLink("Name", "Index", "Worker", new { sortOrder = (ViewBag.currentSort == "name") ? "name_desc" : "name", pageSize = ViewBag.currentPAgeSize }, null)
                        @if (ViewBag.currentSort == "name")
                        {
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        }
                        @if (ViewBag.currentSort == "name_desc")
                        {
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        }
                    </th>
                    <th class="col-lg-4">
                        @Html.ActionLink("Department", "Index", "Worker", new { sortOrder = (ViewBag.currentSort == "department") ? "department_desc" : "department", pageSize = ViewBag.currentPAgeSize }, null)
                        @if (ViewBag.currentSort == "department")
                        {
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        }
                        @if (ViewBag.currentSort == "department_desc")
                        {
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        }
                    </th>
                    <th class="col-lg-1">
                        @Html.ActionLink("Projects", "Index", "Worker", new { sortOrder = (ViewBag.currentSort == "project") ? "project_desc" : "project", pageSize = ViewBag.currentPAgeSize }, null)
                        @if (ViewBag.currentSort == "project")
                        {
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        }
                        @if (ViewBag.currentSort == "project_desc")
                        {
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        }
                    </th>
                    <th class="col-lg-2">
                        @Html.ActionLink("Status", "Index", "Worker", new { sortOrder = (ViewBag.currentSort == "status") ? "status_desc" : "status", pageSize = ViewBag.currentPAgeSize }, null)
                        @if (ViewBag.currentSort == "status")
                        {
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        }
                        @if (ViewBag.currentSort == "status_desc")
                        {
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        }
                    </th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectsCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserStatus)
                            </td>
                        </tr>

                    }
            </table>
        </div>
        @if (Model.PageCount > 1)
        {
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", new
       {
           page,
           sortOrder = ViewBag.CurrentSort,
           q = ViewBag.CurrentFilter,
           pageSize=ViewBag.currentPageSize
       }))
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        }
    </div>







    @*<table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FullName</th>
                    <th>Department</th>
                    <th>Projects</th>
                    <th>Tasks</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PTM.Models.UserInfo w in Model.Workers)
                {
                    <tr>
                        <td> @w.Id</td>
                        <td> @w.FullName</td>
                        <td> @if (w.Department != null)
                        {
                            @w.Department.Name
                                }</td>
                        <td> @w.Projects.Count()</td>
                        <td> @w.Tasks.Count()</td>
                        <td>
                            @if (w.UserStatus == PTM.Models.UserStatus.Active)
                            {
                                <label class="label label-success">@w.UserStatus</label>
                            }
                            else if (w.UserStatus == PTM.Models.UserStatus.InActine)
                            {
                                <label class="label label-danger">@w.UserStatus</label>
                            }
                            else
                            {
                                <label class="label label-default">@w.UserStatus</label>
                            }
                        </td>
                        <td>
                            <a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>


        </table>*@
