﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Styles.Render("~/Content/treeview")
@Scripts.Render("~/bundles/treeview")*@
<script src="~/Scripts/js/draganddrop.js" type="text/javascript"></script>
<script src="~/Scripts/VueJS/CreateProject.js" type="text/javascript"></script>
<link href="~/Content/css/checkbox.css" rel="stylesheet"/>
@*<link href="~/Content/css/bootstrap-treeview.css" rel="stylesheet" />*@





@model PTM.Models.CreateProjectModel

<h2>New Project</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        @Html.ValidationSummary(true)

        <div class="form-group row">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        @*@Html.LabelFor(model => model.Project.Departments, new { @class = "control-label col-md-2" })*@



        @*<div class="form-group col-md-3">
                <label class="control-label col-md-12" for="CheckedDepartments">Departments</label>
                @for (int i = 0; i < Model.CheckedDepartments.Count; i++)
                {
                    <div class="form-group">
                        @Html.HiddenFor(m => Model.CheckedDepartments[i].Id)

                        <input type="checkbox" id="@i" name="@Model.CheckedDepartments[i].IsChecked" autocomplete="off" />

                        <div class="btn-group">
                            <label for="@i" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span> </span>
                            </label>
                            @Html.HiddenFor(m => Model.CheckedDepartments[i].Name)
                            <label for="@i" class="btn btn-default active">
                                @Model.CheckedDepartments[i].Name
                            </label>
                        </div>
                    </div>
                }
            </div>
            @Html.ValidationMessageFor(model => model.CheckedDepartments)*@



        <div class="form-group">

            <div class="row" style="overflow-x: scroll; white-space: nowrap; display:flex">
                @for (int i = 0; i < Model.CheckedDepartments.Count; i++)
                {
                    <div class="form-group" style="display: inline-block; margin-left: 10px; margin-right: 10px">
                        @Html.HiddenFor(m => Model.CheckedDepartments[i].Id)

                        <input type="checkbox" id="@i" name="@Model.CheckedDepartments[i].IsChecked" autocomplete="off"/>

                        <div class="btn-group">
                            <label for="@i" class="btn btn-default" style="width: 40px">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span> </span>
                            </label>
                            @Html.HiddenFor(m => Model.CheckedDepartments[i].Name)
                            <label for="@i" class="btn btn-default active" style="width: 250px">
                                @Model.CheckedDepartments[i].Name
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>


        @*for (int j = 0; j < Model.CheckedDepartments[i].UsersCount; j++)
            {

                            <div class="form-group">


                                <input type="checkbox" id="CheckedUser+@i+@j" name="@Model.CheckedDepartments[i].CheckedUsers[j].IsChecked" autocomplete="off" />

                                <div class="btn-group">
                                    <label for="CheckedUser+@i+@j" class="btn btn-default">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span> </span>
                                    </label>
                                    @Html.HiddenFor(m => Model.CheckedDepartments[i].CheckedUsers[j].Name)
                                    <label for="CheckedUser+@i+@j" class="btn btn-default active">
                                        @Model.CheckedDepartments[i].CheckedUsers[j].Name
                                    </label>
                                </div>
                            </div>

            }*@





        <div class="form-group col-lg-9">

        </div>






        @*@Html.EditorFor(model => model.Project.Departments)*@
        @*<script>
                $(function () {
                    $("#alldeps, #selecteddeps").sortable({
                        connectWith: ".connectedSortable"
                    }).disableSelection();
                });
            </script>*@

        @*<div  class="col-md-6 table-bordered" style="height: 300px">
                                <ul id="alldeps" class="list-group connectedSortable">
                                    @foreach (PTM.Models.Department p in Model.Departments)
                                    {
                                        <li id="@p.Id" class="list-group-item btn-block btn-default">
                                            @p.Name
                                            @p.Users.Count()
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div  class="col-md-6 table-bordered" style="height: 300px">
                                <ul id="selecteddeps" class="list-group connectedSortable">

                                    </ul>
            </div>*@





        @*<div id="tree"></div>
            <script>
                $('#tree').tree({
                        primaryKey: 'id',
                        uiLibrary: 'bootstrap4',
                        dataSource: '/API/GetWorkers',
                        checkboxes: true
                    });
            </script>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}

    @*<script src="~/Scripts/js/TreeView.js" type="text/javascript"></script>*@
    
   





