﻿<style>
    .rows {
        border: 1px solid #eee;
        min-height: 40px;
    }
</style>

<script>
  $( function() {
    $( "#Submitted, #InProgress, #QA, #Repeated, #Discussed, #Completed" ).sortable({
      connectWith: ".rows"
    }).disableSelection();
  } );
</script>

@model PTM.Models.Tasks

<div style="display:inline-flex">
    <div class="col-lg-2" style="width:200px">
        Submitted
        <ul id="Submitted" class="rows list-group">
            @for (int i = 0; i < Model.Submitted.Count; i++)
            {
                <li class="list-group-item">
            <div>
                <div class="row">
                    <div class="col-lg-9"><h5>@Model.Submitted[i].Name</h5></div><div class="col-lg-offset-3"><h5>@if (Model.Submitted[i].IsBug) { <label class="label-info">B</label> }</h5></div>

</div>
                @*@for (int j = 0; j < Model.Submitted[i].Users.Count; j++)
                {
                    <label class="label-primary">@Model.Submitted[i].Users</label>
                }*@
            </div>
            </li>
            }
        </ul>
    </div>
    <div class="col-lg-2" style="width:200px">
        InProgress
        <ul id="InProgress" class="rows list-group">
            @for (int i = 0; i < Model.InProgress.Count; i++)
            {
                <li class="list-group-item">@Model.InProgress[i].Name</li>
            }
        </ul>
    </div>
    <div class="col-lg-2" style="width:200px">
        QA
        <ul id="QA" class="rows list-group">
            @for (int i = 0; i < Model.QA.Count; i++)
            {
                <li class="list-group-item">@Model.QA[i].Name</li>
            }
        </ul>
    </div>
    <div class="col-lg-2" style="width:200px">
        Repeated
        <ul id="Repeated" class="rows list-group">
            @for (int i = 0; i < Model.Repeated.Count; i++)
            {
                <li class="list-group-item">@Model.Repeated[i].Name</li>
            }
        </ul>
    </div>
    <div class="col-lg-2" style="width:200px">
        Discussed
        <ul id="Discussed" class="rows list-group">
            @for (int i = 0; i < Model.Discussed.Count; i++)
            {
                <li class="list-group-item">@Model.Discussed[i].Name</li>
            }
        </ul>
    </div>
    <div class="col-lg-2" style="width:200px">
        Completed
        <ul id="Completed" class="rows list-group">
            @for (int i = 0; i < Model.Completed.Count; i++)
            {
                <li class="list-group-item">@Model.Completed[i].Name</li>
            }
        </ul>
    </div>
</div>