﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PTM.Models.ProjectsModel
<h2>Projects</h2>




<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Users</th>
            <th>Departments</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PTM.Models.Project p in Model.Projects)
        {
            <tr>
                <td> @p.Id</td>
                <td> @p.Name</td>
                <td> @p.Users.Count</td>
                <td> @foreach (PTM.Models.Department d in p.Departments)
                {
                     @d.Name.ToString();
                }
                </td>
                <td>
                    @switch (p.ProjectStatus)
                    {
                        case (PTM.Models.ProjectStatus.Active):
                            <label class="label label-primary">@p.ProjectStatus</label>
                            break;
                        case (PTM.Models.ProjectStatus.Completed):
                            <label class="label label-success">@p.ProjectStatus</label>
                            break;
                        case (PTM.Models.ProjectStatus.Failed):
                            <label class="label label-danger">@p.ProjectStatus</label>
                            break;
                        case (PTM.Models.ProjectStatus.NotStarted):
                            <label class="label label-default">@p.ProjectStatus</label>
                            break;
                        default:
                            <label class="label label-default">@p.ProjectStatus</label>
                            break;
                    }
                </td>
                <td>
                    <a class="btn btn-info btn-xs" href="/Project/Project/@p.Id"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                        }
                </td>
            </tr>
        }
    </tbody>


</table>
