﻿
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model PTM.Models.ProjectModel

<h2>@Model.Project.Name</h2>
<h3>@Model.Project.Description</h3>


<div id="table">

</div>

<script>
$(document).ready(function () {
$("#table").load("@Url.Action("GetTasks","Project",new { id=Model.Project.Id})");
});
</script>

@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@*@Scripts.Render("~/scripts/js/Project.js")*@
    

