﻿<style>
    .rows {
        border: 1px solid #eee;
        min-height: 40px;
    }
</style>

<script>
  $( function() {
    $( "#Submitted, #InProgress, #QA, #Repeated, #Discussed, #Completed" ).sortable({
      connectWith: ".rows"
    }).disableSelection();
  } );
</script>

@model PTM.Models.Tasks

<div style="display:inline-flex">
    <div class="col-lg-2">
        Submitted
        <ul id="Submitted" class="rows list-group">
            @for (int i = 0; i < Model.Submitted.Count; i++)
            {
                <li class="list-group-item">@Model.Submitted[i]</li>
            }
        </ul>
    </div>
    <div class="col-lg-2">
        InProgress
        <ul id="InProgress" class="rows list-group">
         
        </ul>
    </div>
    <div class="col-lg-2">
        QA
        <ul id="QA" class="rows list-group">

        </ul>
    </div>
    <div class="col-lg-2">
        Repeated
        <ul id="Repeated" class="rows list-group">

        </ul>
    </div>
    <div class="col-lg-2">
        Discussed
        <ul id="Discussed" class="rows list-group">

        </ul>
    </div>
    <div class="col-lg-2">
        Completed
        <ul id="Completed" class="rows list-group">

        </ul>
    </div>
</div>
