﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/vue.js" type="text/javascript"></script>
    <script src="~/Scripts/vue-router.js" type="text/javascript"></script>

</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PTM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>   

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Departments<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Departments", "Index", "Department")</li>
                            <li>@Html.ActionLink("Statistics", "Department", "Statistics")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("New Department", "Create", "Department")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Projects", "Index", "Project")</li>
                            <li>@Html.ActionLink("Statistics", "Project", "Statistics")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("New Project", "Create", "Project")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Workers<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Workers", "Index", "Worker")</li>
                            <li>@Html.ActionLink("Statistics", "Worker", "Statistics")</li>
                            @*<li class="divider"></li>
                            <li>@Html.ActionLink("New Worker", "Create", "Worker")</li>*@
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manager<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Invite", "Invite", "Account")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Chat<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Chat", "Index", "Chat")</li>                           
                        </ul>
                    </li>

                    @*<li>@Html.ActionLink("Departments", "Index", "Department")</li>*@ 
                    @*<li>@Html.ActionLink("Projects", "Index", "Project")</li>*@ 
                    @*<li>@Html.ActionLink("Workers", "Index", "Worker")</li>*@ 
                    @*<li>@Html.ActionLink("Invite", "Invite", "Account")</li>*@ 
                    @*<li>@Html.ActionLink("Chat", "Chat", "Home")</li>*@
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                    </ul>
            </div>
            
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()

    </div>



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

