﻿
        @if (User.Identity.IsAuthenticated)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Html.Encode(User.Identity.Name)<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink($"{User.Identity.Name}", "Profile", "Account")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                </ul>
            </li>
        }
        else
        {
            <li>@Html.ActionLink("Log In", "Login", "Account")</li>

        }
