﻿
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PTM.Models.ProfileModel



<div class="col-lg-3">
    <h3>@Model.User.UserInfo.FullName</h3>
    <div class="row">Department: @Model.User.UserInfo.Department.Name</div>
    <div class="row">Email: @Model.User.Email</div>
    <ul class="list-group">
        @foreach (PTM.Models.Project p in Model.User.UserInfo.Projects)
        {
            <li class="list-group-item">
                @p.Name
                @p.ProjectStatus
                @p.Users.Count()
                @p.Tasks.Count()
            </li>
        }
    </ul>

</div>


