﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="bender-body" class="div">
    <div id="page" class="div">
        <div id="container" class="div">
            <div class="foot-left foot div">
                <div class="f1 div"></div>
                <div class="f2 div"></div>
                <div class="first leg1 div">
                    <div class="next1 leg1 div">
                        <div class="next1 leg1 div">
                            <div class="next1 leg1 div">
                                <div class="next1 leg1 div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot-right foot div">
                <div class="f1 div"></div>
                <div class="f2 div"></div>
                <div class="first leg2 div">
                    <div class="next2 leg2 div">
                        <div class="next2 leg2 div">
                            <div class="next2 leg2 div">
                                <div class="next2 leg2 div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="b-body" class="div">
                <div id="b1" class="div"></div>
                <div id="b2" class="div"></div>
                <div id="b3" class="div"></div>
                <div id="head" class="div">
                    <div id="h1" class="div"></div>
                    <div id="h2" class="div"></div>
                    <div id="h3" class="div"></div>
                    <div id="h4" class="div"></div>
                    <div id="h5" class="div"><span></span></div>
                    <div id="eyes" class="div">
                        <div id="e" class="div">
                            <div id="e1" class="div">
                                <div class="eye div"></div><span></span>
                            </div>
                            <div id="e2" class="div">
                                <div class="eye div" ></div><span></span>
                            </div>
                        </div>
                    </div>
                    <div id="mouth" class="div">
                        <span></span> <span></span> <span></span> <span></span> <span></span>
                        <div id="m1" class="div"></div>
                        <div id="m2" class="div"></div>
                    </div>
                </div>
                <div id="b4" class="div"></div>
                <div id="b5" class="div">
                    <div class="b51 div">
                        <div class="b51 div">
                            <div class="b51 div">
                                <div class="b51 div">
                                    <div id="ab" class="div">
                                        <div class="a1 div"></div>
                                        <div id="a2" class="div"></div>
                                        <div class="a31 a3 div"></div>
                                        <div class="a32 a3 div"></div>
                                        <div class="a33 a3 div"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="b6" class="div"></div>
                <div id="b7" class="div">
                    <div class="b71 div">
                        <div class="b71 div">
                            <div class="b71 div">
                                <div class="b71 div">
                                    <div id="ac" class="div">
                                        <div class="a1 div"></div>
                                        <div class="a2 div"></div>
                                        <div class="a31 a3 div"></div>
                                        <div class="a32 a3 div"></div>
                                        <div class="a3 a33 div"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="b8" class="div"> <span></span> </div>
                <div id="b9" class="div"></div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Content/Bender.css"/>