﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/js/draganddrop.js" type="text/javascript"></script>*@
<link href="~/Content/css/checkbox.css" rel="stylesheet" />

@model PTM.Models.CreateDepartmentModel


<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        @Html.ValidationSummary(true)

        <div class="form-group row">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        @*<div>
            @for(int i=0;i<Model.CheckedUsers.Count;i++)
            {               
                <div class="form-group">

                    @Html.HiddenFor(m =>Model.CheckedUsers[i].Id)
                   
                    <input type="checkbox" id="@i" name="@Model.CheckedUsers[i].IsChecked" autocomplete="off" />              
                    <div class="btn-group">
                        <label for="@i" class="btn btn-default" style="width:40px">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        @Html.HiddenFor(m => Model.CheckedUsers[i].Name)
                        <label for="@i" class="btn btn-default active" style="width: 200px">
                            @Model.CheckedUsers[i].Name
                        </label>
                    </div>
                </div>
                //i = i + 1;
            }
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}