﻿
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PTM.Models.DepartmentModel

<script src="~/Scripts/js/Department.js" type="text/javascript"></script>


<h5>@Model.Department.Name</h5>

<div class="container">
    <div class="col-lg-3">
        <button id="btnAdd" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Add to department</button>
        
        <div id="dialog" style="hidden">
            <input type="hidden" id="id" value="@Model.Department.Id"/>
            <form>
                <div class="form-group">
                    <label for="Users">No department users</label>
                    <div id='NDUListBox'></div>
                </div>
                <button type="button" id="btnSave" class="btn btn-default">Add</button>
                <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
            </form>
        </div>
        
        
        <ul class="list-group">
            @foreach (PTM.Models.UserInfo u in Model.Department.Users)

            {
                <li>@u.FullName</li>
            }
        </ul>
    </div>

</div>

