﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PTM.Models.DepartmentsModel
<h2>Departments</h2>




<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Users</th>
        <th>Projects</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
      @foreach (PTM.Models.Department d in Model.Departments)
      {
          <tr>
              <td> @d.Id</td>
              <td> @d.Name</td> 
              <td> @d.Users.Count</td>
              <td> @d.Projects.Count</td>
              <td> @if (d.DepartmentStatus == PTM.Models.DepartmentStatus.Active)
              {
                  <label class="label label-success">@d.DepartmentStatus</label>
              }
              else
              {
                  <label class="label label-default">@d.DepartmentStatus</label>
              }
              </td>
              <td> 
                  <a class="btn btn-info btn-xs" href="/Department/Department/@d.Id"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
              @if (User.IsInRole("Admin"))
              {
                  <a class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>   
              }
              </td>
          </tr>
              }
        </tbody>


</table>


